<!DOCTYPE html>
<html lang="en">
    <%- include('layout/header'); -%>
    <%- include('layout/script'); -%>
    <body>
        <!-- Navigation-->
        <% if (!locals.user) { %>
            <%- include('layout/navigation'); -%>
        <% } else { %>
            <% if (locals.userType =="Admin") { %>
                <%- include('layout/admin_navigation'); -%>
            <% }  if (locals.userType =="Driver")  { %>
                <%- include('layout/driver_navigation'); -%>
            <% } %>
        <% } %>
        
        <!-- give error message -->
        <% if (locals.message) { %>
          <div class="mt-5 mb-3">
            <div class="custom-alert">
              <strong><%= message %></strong>
              <button type="button" class="custom-close" aria-label="Close"></button>
            </div>
          </div>
        <% } %>
        
        
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="card">
                <% if (locals.user) { %>
          
                <div class="card-header" style="background-color: black; color: white;">
                  <h3 class="text-center">Data Display</h3>
                </div>
                <div class="card-body">
                  <p>Name: <%= user.firstname %> <%= user.lastname %></p>
                  <p>Age: <%= user.age %></p>
          
                  <form method="post" action="/updateCarInfo">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <div class="mb-3">
                      <label for="make">Make</label>
                      <input type="text" class="form-control" name="make" id="make" value="<%= user.carInfo.make %>" required>
                    </div>
                    <div class="mb-3">
                      <label for="model">Model</label>
                      <input type="text" class="form-control" name="model" id="model" value="<%= user.carInfo.model %>" required>
                    </div>
                    <div class="mb-3">
                      <label for="year">Year</label>
                      <input type="text" class="form-control" name="year" id="year" value="<%= user.carInfo.year %>" required>
                    </div>
                    <div class="mb-3">
                      <label for="plateNumber">Plate Number</label>
                      <input type="text" class="form-control" name="platenumber" id="plateNumber"
                        value="<%= user.carInfo.platno %>" required>
                    </div>
                    <button type="submit" style="background-color: blue; color: white; padding: 10px 20px; border: none; cursor: pointer;">Update Car Information</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          
    </div>
    </div>
</body>
</html>
