<!DOCTYPE html>
<html lang="en">
    <%- include('layout/header'); -%>
    <%- include('layout/script'); -%>
    <body>
        <!-- Navigation-->
        <% if (!locals.user) { %>
            <% if (!locals.user) { %>
            <%- include('layout/navigation'); -%>
        <% } else { %>
            <% if (locals.userType =="Admin") { %>
                <%- include('layout/admin_navigation'); -%>
            <% }  if (locals.userType =="Driver")  { %>
                <%- include('layout/driver_navigation'); -%>
            <% } %>
        <% } %>
        <% } else { %>
            <% if (locals.userType =="Admin") { %>
                <%- include('layout/admin_navigation'); -%>
            <% }  if (locals.userType =="Driver")  { %>
                <%- include('layout/driver_navigation'); -%>
            <% } %>
        <% } %>
        <div class="cover">
            <div>
                <h1>Dashboard</h1>
                <p>DriveTest Booking Kiosk</p>
            </div>
        </div>
    </body>
    <!--  footer -->
    <%- include('layout/footer'); -%>
    </html>
