<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout/header'); -%>
<%- include('layout/script'); -%>
  <style>
    .filters{
            text-align: center;
            width:100%;
            margin-bottom: 20px;
            margin-top: -10px;
        }
  </style>
</head>
<body>
    <!-- Navigation -->
    <% if (!locals.user) { %>
    <%- include('layout/navigation'); -%>
    <% } else { %>
      <% if (user.appointment_id) { %>
        <%- include('layout/driver_navigation_new'); -%>
        <% } else if (locals.userType == "Admin") { %>
    <%- include('layout/admin_navigation'); -%>
    <% } else if (locals.userType == "Driver") { %>
    <%- include('layout/driver_navigation'); -%>
    <% } else if (locals.userType == "Examiner") { %>
    <%- include('layout/examiner_navigation'); -%>
    <% } %>
    <% } %>

    <!-- Error Message -->
    <% if (locals.message) { %>
    <div class="mt-5 mb-3">
        <div class="custom-alert">
            <strong><%= locals.message %></strong>
            <button type="button" class="custom-close" aria-label="Close"></button>
        </div>
    </div>
    <% } %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="card">
                <% if (locals.user) { %>
          
                <div class="card-header" style="background-color: black; color: white;">
                  <h3 class="text-center">Declare Candidate Result
                    <br> ____________ <br>
                    </h3>
                </div>
                <div class="card-body">
                  <p>Name: <%= currentUser.firstname %> <%= currentUser.lastname %></p>
                  <p>Age: <%= currentUser.age %></p>
                  <p>License Number <%= currentUser.licenseNo %></p>
                  <p>Car Plate Number: <%= currentUser.carInfo.platno %></p>
                  <p>Appointment Date: <%= currentUser.appointment_id.date %></p>
                  <p>Appointment Time: <%= currentUser.appointment_id.time %></p>
                  <p>Test Type: <%= currentUser.testType%></p>
                  <p>Status: <%= currentUser.status%></p>
          
                  <form method="post" action="/<%= currentUser._id %>">
                    <div class="mb-3">
                      <label for="addComment">Add Comment</label>
                      <textarea class="form-control" name="comment" id="comment" rows="4" required><%= currentUser.comment %></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="UpdateStatus">Update Status</label>
                      <select id="UpdateStatus" name="status" class="form-control">
                        <option value="Pending" <% if (currentUser.status === 'Pending') { %> selected <% } %>>Pending</option>
                        <option value="Pass" <% if (currentUser.status === 'Pass') { %> selected <% } %>>Pass</option>
                        <option value="Fail"<% if (currentUser.status === 'Fail') { %> selected <% } %>> Fail</option>
                    </select>
                    </div>
                    


                    
                    <button type="submit" style="background-color: blue; color: white; padding: 10px 20px; border: none; cursor: pointer;">Submit</button>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</body>
</html>
